<div class="row" id="goBack">
	<div class="col-sm-8">
		<a href="#" class="btn btn-primary" role="button">Main</a>
		<a href="#/stats" class="btn btn-success" role="button">Stats</a>
	</div>
	<div class="col-sm-4 pull-right">
		<h4>
			<label>Search: 
				<input type="search" ng-model="searchText">
			</label>
		</h4>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h4>
			<label>Filter by 
				<a ng-click="reloadPage()" class="btn btn-info btn-xs" role="button">All</a>
				<a ng-click="matchesWon()" class="btn btn-success btn-xs" role="button">Matches Won</a>
				<a ng-click="matchesLost()" class="btn btn-danger btn-xs" role="button">Matches Lost</a>
				<a ng-click="tossWon()" class="btn btn-success btn-xs" role="button">Toss Won</a>
				<a ng-click="tossLost()" class="btn btn-danger btn-xs" role="button">Toss Lost</a>
				<a ng-click="lessThirty()" class="btn btn-warning btn-xs" role="button">0-30</a>
				<a ng-click="thirtyFifty()" class="btn btn-success btn-xs" role="button">30-50</a>
				<a ng-click="halfCentury()" class="btn btn-success btn-xs" role="button">50-100</a>
				<a ng-click="hundredPlus()" class="btn btn-success btn-xs" role="button">100+</a>
				<a ng-click="inningsOne()" class="btn btn-info btn-xs" role="button">1st Innings</a>
				<a ng-click="inningsTwo()" class="btn btn-info btn-xs" role="button">2nd Innings</a>
			</label>
		</h4>
		<div class="pull-right">
			<p>* denotes not out</p>
		</div>
	</div>
</div>
<div ng-show="sachinData">
	<table class="table">
		<thead>
			<tr>
				<th>Opposition</th>
				<th>Ground</th>
				<th>Toss</th>
				<th>Runs Scored</th>
				<th>Batting Innings</th>
				<th>Wickets</th>
				<th>Stumpings</th>
				<th>Runs Conceded</th>
				<th>Result</th>
				<th>Margin</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="sachin in sachinData | filter:searchText">
			    <td>{{sachin.opposition}}</td>
			    <td>{{sachin.ground}}</td>
			    <td>{{sachin.toss}}</td>
			    <td>{{sachin.batting_score}}</td>
			    <td>{{sachin.batting_innings}}</td>
			    <td>{{sachin.wickets}}</td>
			    <td>{{sachin.stumps}}</td>
			    <td>{{sachin.runs_conceded}}</td>
			    <td>{{sachin.match_result}}</td>
			    <td>{{sachin.result_margin}}</td>
			   	<td>{{sachin.date}}</td>
			</tr>
		</tbody>
	</table>
</div>