<div id="backgroundImg">
	<div class="row">
		<div class="col-sm-7">
			<div id="heading" class="text-center">
				<h1>SACHIN TENDULKAR</h1>
				<h5>The Greatest Cricketer of all time</h5>
			</div>
			<div id="buttons" class="text-center">
				<a href="#/data" class="btn btn-primary" role="button">Data</a>
				<a href="#/stats" class="btn btn-success" role="button">Stats</a>
			</div>
			<div class="text-center">
				<div id="matches">
					<h4 id="ticker">Matches</h4>
					<h5 count-up end-val="463"></h5>
				</div>
				<div id="runs">
					<h4 id="ticker">Total Runs</h4>
					<h5 count-up end-val="18426"></h5>
				</div>
				<div id="avg">
					<h4 id="ticker">Average</h4>
					<h5 count-up end-val="44.83" decimals="2"></h5>
				</div>	
				<div id="hund">
					<h4 id="ticker">100s</h4>
					<h5 count-up end-val="49"></h5>
				</div>
				<div id="fifty">
					<h4 id="ticker">50s</h4>
					<h5 count-up end-val="96"></h5>
				</div>
			</div>
		</div>
	</div>
</div>